<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title th:text="${titulo}"></title>
    </head>
    <body>
        <h3 th:text="${titulo}"></h3>
        <ul>
            <li th:text="${usuario.username}"></li>
            <!--Para efectos del ejemplo se mostrará el password, pero en la realidad, nunca se debería mostrar-->
            <li th:text="${usuario.password}"></li>
            <li th:text="${usuario.email}"></li>
        </ul>
    </body>
</html>