<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymelaf.org">
<head>
    <meta charset="UTF-8">
    <title>¡Página no encontrada!</title>
</head>
<body>
    <h3>Página no encontrada</h3>
    <div th:text="${error}">¡Ha ocurrido un error Oops!</div>
    <div th:text="${message}">¡Ha ocurrido un error Oops!</div>
    <div th:text="${status}">¡Ha ocurrido un error Oops!</div>
    <div th:text="${timestamp}">¡Ha ocurrido un error Oops!</div>
    <hr>
    <div th:text="${trace}">¡Ha ocurrido un error Oops!</div>
</body>
</html>